案件依頼アーティストとのチャットリスト
.breadcrumb
  - breadcrumb :user_chatslist
  = breadcrumbs separator: " &rsaquo; "
%br


%ul.chat-list
  - @chat_lists.each do |chat_list|
    %li.chat-list__content
      .chat-list__content__title
        = link_to "案件名：#{chat_list.matter.title}", "/matters/#{chat_list.matter.id}/chats/#{chat_list.id}/messages", method: :get
        - @unread_messages.find do |unread_message|
          - if unread_message.chat.id == chat_list.id
            ※未読のメッセージがあります。
        %br
        依頼アーティスト：
        = chat_list.matter.musician.name
        %br
        【投稿内容】
        %br
        - @messages.each do |message|
          - if message.chat_id == chat_list.id
            - if message.user_id == current_user.id
              = message.user.name
            - else
              = message.user.musician.name
            ：
            = message.content
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
            %br
        %br
        %br


- if @chat_lists.blank?
  ※チャット質問は、まだ行われておりません。
