.user-chatlist-page

  .user-chatlist-page__header
    = render 'matters/header'

  
  .breadcrumb
    - breadcrumb :user_chatslist
    = breadcrumbs separator: " &rsaquo; "
  %br

  .user-chatlist-page__title
    チャット一覧


  - if @chat_lists.blank?
    .user-chatlist-page__nochat
      ※チャット質問は、行われておりません。


  %ul.chat-list
    - @chat_lists.each do |chat_list|
      %li.chat-list__content

        .chat-list__content__chat-title
          = link_to "/matters/#{chat_list.matter.id}/chats/#{chat_list.id}/messages", method: :get do
            - @unread_messages.find do |unread_message|
              - if unread_message.chat.id == chat_list.id
                .chat-list__content__chat-title__unread
                  = icon('fas', 'fas fa-exclamation-triangle')
                  未読のメッセージがあります。
            .chat-list__content__chat-title__matter-name
              = icon('fas', 'fas fa-file')
              = chat_list.matter.title

            .chat-list__content__chat-title__artist-name
              = icon('fas', 'fas fa-user-alt')
              = chat_list.matter.musician.name


        .chat-list__content__messages
          - @messages.each do |message|
            - if message.chat_id == chat_list.id
              - if message.user_id == current_user.id
                .chat-list__content__messages__name
                  = message.user.name
              - else
                .chat-list__content__messages__name
                  = message.user.musician.name
              .chat-list__content__messages__text
                = message.content
              .chat-list__content__messages__created-time
                = message.created_at.strftime("%Y年%m月%d日 %H時%M分")


  = render 'matters/footer'