メッセージ編集フォーム

%h2 【質問入力フォーム】
= form_for(@message, url: "/matters/#{@matter.id}/chats/#{@chat.id}/messages/#{@message.id}", method: :put) do |f|
  = render "devise/shared/error_messages", resource: @message

  = f.text_field :content, autofocus: true, autocomplete: "content", placeholder: "" ,class: ''

  .actions
  = f.submit "投稿内容を更新する"

%br
= link_to "TOPページへ戻る", root_path