質問ユーザー用チャット
%br
案件名：
= @chat.matter.title
%br
質問ユーザー：
= @chat.user.name
%br
依頼アーティスト：
= link_to "#{@chat.matter.musician.name}", "/musicians/#{@chat.matter.musician.id}", target: blank?
%br
%br


%ul.messages-list
  - @messages.each do |message|
    %li.messages-list__content
      .messages-list__content--nema
        - if message.user_id == current_user.id
          = message.user.name
        - else
          = message.user.musician.name
      .messages-list__content--created-time
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .messages-list__content--content
        = safe_join(message.content.split("\n"),tag(:br))
      - if message.user_id == current_user.id
        .messages-list__content--edit
          = link_to "編集", "/matters/#{@matter.id}/chats/#{@chat.id}/messages/#{message.id}/edit"
        .messages-list__content--delete
          = link_to "削除", "/matters/#{@matter.id}/chats/#{@chat.id}/messages/#{message.id}", method: :delete
      - else
        .messages-list__content--read
          - if message.status == 0
            = link_to "既読にする", "/matters/#{@matter.id}/chats/#{@chat.id}/messages/#{message.id}/already_read", method: :put
          - else
            = link_to "未読にする", "/matters/#{@matter.id}/chats/#{@chat.id}/messages/#{message.id}/unread", method: :put
      %br


%br
%br
%h2 【質問入力フォーム】
= form_for(@message, url: "/matters/#{@matter.id}/chats/#{@chat.id}/messages", method: :post) do |f|
  = render "devise/shared/error_messages", resource: @message

  = f.text_area :content, autocomplete: "content", placeholder: "" ,class: ''

  .actions
  = f.submit "投稿する"
  %br
  %br


%br
= link_to "チャットリスト一覧ページへ戻る", user_chatslists_path
%br
= link_to "会員マイページへ戻る", mypages_path
%br
= link_to "TOPページへ戻る", root_path
