.artist-profile-edit-page

  .artist-profile-edit-page__header
    = render 'matters/header'


  .breadcrumb
    - breadcrumb :edit_musician
    = breadcrumbs separator: " &rsaquo; "


  .artist-profile-edit-page__title
    アーティストプロフィール編集ページ


  .artist-profile-edit-page__form
    = form_for(@musician, url: "/musicians/#{@musician.id}", method: :put) do |f|
      = render "devise/shared/error_messages", resource: @musician

      .artist-profile-edit-page__form__image
        .artist-profile-edit-page__form__image__title
          アーティスト写真
        .artist-profile-edit-page__form__image__norequired
          任意
      .artist-profile-edit-page__form__image-form
        = f.file_field :image, class: 'image-form'


      .artist-profile-edit-page__form__name
        .artist-profile-edit-page__form__name__title
          アーティスト名
        .artist-profile-edit-page__form__name__required
          必須
      .artist-profile-edit-page__form__name-form
        = f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "アーティスト名を入力してください", class: 'name-form'


      .artist-profile-edit-page__form__biography
        .artist-profile-edit-page__form__biography__title
          バイオグラフィー
        .artist-profile-edit-page__form__biography__required
          必須
      .artist-profile-edit-page__form__biography-form
        = f.text_area :biography, autofocus: true, autocomplete: "biography", placeholder: "アーティストバイオグラフィーを入力してください", class: 'biography-form'


      .artist-profile-edit-page__form__history
        .artist-profile-edit-page__form__history__title
          活動歴
        .artist-profile-edit-page__form__history__required
          必須
      .artist-profile-edit-page__form__history-form
        = f.text_area :activity_history, autofocus: true, autocomplete: "activity_history", placeholder: "活動歴を入力してください", class: 'history-form'


      .artist-profile-edit-page__form__place
        .artist-profile-edit-page__form__place__title
          活動場所
        .artist-profile-edit-page__form__place__required
          必須
      .artist-profile-edit-page__form__place-form
        = f.text_area :activity_place, autofocus: true, autocomplete: "activity_place", placeholder: "例）東京都渋谷を中心に活動中", class: 'place-form'


      .artist-profile-edit-page__form__email
        .artist-profile-edit-page__form__email__title
          問い合わせメールアドレス
        .artist-profile-edit-page__form__email__required
          必須
      .artist-profile-edit-page__form__email-form
        = f.email_field :email, autocomplete: "email", placeholder: "連絡用のメールアドレスを入力してください", class: 'email-form'


      .artist-profile-edit-page__form__homepage
        .artist-profile-edit-page__form__homepage__title
          アーティストHPリンク
        .artist-profile-edit-page__form__homepage__norequired
          任意
      .artist-profile-edit-page__form__homepage-form
        = f.url_field :homepage, autofocus: true, autocomplete: "homepage", placeholder: "" ,class: 'homepage-form'


      .artist-profile-edit-page__form__youtube
        .artist-profile-edit-page__form__youtube__title
          YouTubeリンク
        .artist-profile-edit-page__form__youtube__norequired
          任意
      .artist-profile-edit-page__form__youtube-form
        = f.url_field :youtube, autofocus: true, autocomplete: "youtube", placeholder: "" ,class: 'youtube-form'


      .artist-profile-edit-page__form__spotify
        .artist-profile-edit-page__form__spotify__title
          Spotifyリンク
        .artist-profile-edit-page__form__spotify__norequired
          任意
      .artist-profile-edit-page__form__spotify-form
        = f.url_field :spotify, autofocus: true, autocomplete: "spotify", placeholder: "" ,class: 'spotify-form'


      .artist-profile-edit-page__form__apple-music
        .artist-profile-edit-page__form__apple-music__title
          Apple Musicリンク
        .artist-profile-edit-page__form__apple-music__norequired
          任意
      .artist-profile-edit-page__form__apple-music-form
        = f.url_field :apple_music, autofocus: true, autocomplete: "apple_music", placeholder: "" ,class: 'apple-music-form'


      .artist-profile-edit-page__form__twitter
        .artist-profile-edit-page__form__twitter__title
          Twitterリンク
        .artist-profile-edit-page__form__twitter__norequired
          任意
      .artist-profile-edit-page__form__twitter-form
        = f.url_field :twitter, autofocus: true, autocomplete: "twitter", placeholder: "" ,class: 'twitter-form'


      .artist-profile-edit-page__form__facebook
        .artist-profile-edit-page__form__facebook__title
          Facebookリンク
        .artist-profile-edit-page__form__facebook__norequired
          任意
      .artist-profile-edit-page__form__facebook-form
        = f.url_field :facebook, autofocus: true, autocomplete: "facebook", placeholder: "" ,class: ''


      .artist-profile-edit-page__form__other-link
        .artist-profile-edit-page__form__other-link__title
          その他リンク
        .artist-profile-edit-page__form__other-link__norequired
          任意
      .artist-profile-edit-page__form__other-link-form
        = f.text_field :otherlink_title, autofocus: true, autocomplete: "otherlink_title", placeholder: "リンクのタイトルを入力" ,class: 'other-link-form-title'
        %br
        = f.url_field :otherlink_url, autofocus: true, autocomplete: "otherlink_url", placeholder: "リンクのURLを入力" ,class: 'other-link-form-url'


      .artist-profile-edit-page__form__live-info
        .artist-profile-edit-page__form__live-info__title
          ライブ情報
        .artist-profile-edit-page__form__live-info__norequired
          任意
      .artist-profile-edit-page__form__live-info-form
        = f.text_area :live_info, autofocus: true, autocomplete: "live_info", placeholder: "" ,class: 'live-info-form'


      .artist-profile-edit-page__form__office
        .artist-profile-edit-page__form__office__title
          所属事務所
        .artist-profile-edit-page__form__office__norequired
          任意
      .artist-profile-edit-page__form__office-form
        = f.text_field :office, autofocus: true, autocomplete: "office", placeholder: "" ,class: 'office-form'


      .artist-profile-edit-page__form__actions
        = f.submit "アーティストプロフィールを更新する" ,class: 'submit-button'


  = render 'matters/footer'