アーティストプロフィールページです。
%br
- if user_signed_in?
  - if current_user.id == @musician.user_id
    .breadcrumb
      - breadcrumb :musician
      = breadcrumbs separator: " &rsaquo; "
      %br
    = link_to "★ 案件依頼を作成する", new_matter_path
    %br
    = link_to "★ アーティストプロフィールを編集する", "/musicians/#{@musician.id}/edit"
    %br
    = link_to "★ 案件の応募結果", "/musicians/#{@musician.id}/musician_matterslists"
    %br
    = link_to "★ アーティスト用チャット一覧ページ", "/musician_chatslists"
    - if @unread_messages.present?
      ※未読のメッセージがあります。
    %br
    ★ ユーザースキル検索
    = form_with(url: user_search_musician_tags_path(@musician), local: true, method: :get, class: "search-form") do |f|
      = f.collection_select :skill_id, Skill.all, :id, :name, prompt: "スキルを選択してください"
      = f.submit "検索"
    %br


.artist-image
  - if @musician.image.present?
    = image_tag @musician.image.url, class: '', width: '300'
  - else
    アーティスト写真の登録はありません。

■アーティスト名：
= @musician.name
%br

■バイオグラフィー：
%br
= safe_join(@musician.biography.split("\n"),tag(:br))
%br

■活動歴：
%br
= safe_join(@musician.activity_history.split("\n"),tag(:br))
%br

■活動場所：
= @musician.activity_place
%br

■連絡用メールアドレス：
%a{ href: "mailto:#{@musician.email}"} #{@musician.email}
%br

■アーティストHP：
- if @musician.homepage.present?
  %a{ href: "#{@musician.homepage}", target: "_blank"} #{@musician.homepage}
- else
  情報はありません。
%br

■YouTube：
- if @musician.youtube.present?
  %a{ href: "#{@musician.youtube}", target: "_blank"} #{@musician.youtube}
- else
  情報はありません。
%br

■Spotify：
- if @musician.spotify.present?
  %a{ href: "#{@musician.spotify}", target: "_blank"} #{@musician.spotify}
- else
  情報はありません。
%br

■Apple Music：
- if @musician.apple_music.present?
  %a{ href: "#{@musician.apple_music}", target: "_blank"} #{@musician.apple_music}
- else
  情報はありません。
%br

■Twitter：
- if @musician.twitter.present?
  %a{ href: "#{@musician.twitter}", target: "_blank"} #{@musician.twitter}
- else
  情報はありません。
%br

■Facebook：
- if @musician.facebook.present?
  %a{ href: "#{@musician.facebook}", target: "_blank"} #{@musician.facebook}
- else
  情報はありません。
%br

■その他リンク：
- if @musician.otherlink_title.present?
  =@musician.otherlink_title
  ：
  %a{ href: "#{@musician.otherlink_url}", target: "_blank"} #{@musician.otherlink_url}
- else
  情報はありません。
%br
■Live Info：
- if @musician.live_info.present?
  = @musician.live_info
- else
  情報はありません。
%br
■所属事務所：
- if @musician.office.present?
  = @musician.office
- else
  情報はありません。
%br

- if @matters.present?
  %br
  ★このアーティストの依頼案件一覧
  %br
  %ul.matters-list
    - @matters.each do |matter|
      %li.matters-list__content
        .matters-list__content__title
          = link_to "案件名：#{matter.title}", "/matters/#{matter.id}", method: :get
          - if user_signed_in?
            - if current_user.id == @musician.user_id
              (
              = matter.status
              )
          %br
          案件カテゴリ：
          = matter.matter_category.name
          %br
          お支払い金額：
          = matter.reward
          円
          %br
          応募締切日：
          = matter.deadline
          %br
          - if matter.deadline < @deadline
            ※応募受付は終了しました。
          %br
          %br

= link_to "TOPページへ戻る", root_path