ブックマークした案件の一覧ページ
%br
%br

%ul.likes-list
  - @likes.each do |like|
    %li.likes-list__content
      .likes-list__content__title
        = link_to "案件名：#{like.matter.title}", "/matters/#{like.matter.id}", method: :get
        %br
        案件カテゴリ：
        = like.matter.matter_category.name
        %br
        依頼アーティスト：
        = like.matter.musician.name
        %br
        応募締切日：
        = like.matter.end
        %br
        %br



- if @likes.blank?
  ※まだブックマークした案件はありません。

%br
%br
= link_to "TOPページへ戻る", root_path