ブックマークした案件の一覧ページ
.breadcrumb
  - breadcrumb :likes_list
  = breadcrumbs separator: " &rsaquo; "
%br


%ul.likes-list
  - @likes.each do |like|
    %li.likes-list__content
      .likes-list__content__title
        = link_to "案件名：#{like.matter.title}", "/matters/#{like.matter.id}", method: :get, target: blank?
        %br
        案件カテゴリ：
        = like.matter.matter_category.name
        %br
        お支払い金額：
        = like.matter.reward
        円
        %br
        依頼アーティスト：
        = link_to "#{like.matter.musician.name}", "/musicians/#{like.matter.musician.id}", target: blank?
        %br
        応募締切日：
        = like.matter.deadline
        %br
        %br



- if @likes.blank?
  ※まだブックマークした案件はありません。
