.header

  .header__logo
    = link_to root_path do
      = image_tag "mw_logo.png", alt: "Music Works logo", class: 'mw-logo'


  .header__regist
    - if user_signed_in?
      .header__regist--user-name
        こんにちは
        = current_user.name
        様
      .header__regist--logout
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: ''

    - else
      %ul.header__regist__not-loggedin
        %li.header__regist__not-loggedin--new-regist
          = link_to "新規会員登録", '/users/sign_up'
        %li.header__regist__not-loggedin--login
          = link_to "ログイン", '/users/sign_in'

  - if user_signed_in?
    .header__upper-link
      .header__upper-link__mypage
        = link_to "会員マイページ", mypages_path, method: :get
        %br
      .header__upper-link__artist-page
        - if @musician_user_id.present?
          .header__upper-link__artist-page--already-exists
            = link_to "アーティストページ", "/musicians/#{current_user.musician.id}", method: :get
          %br
        - else
          .header__upper-link__artist-page--new-create
            = link_to "アーティストプロフィールを作成", new_musician_path
      .header__upper-link__icon
        = icon('far', 'far fa-hand-point-left')
      .header__upper-link__attention
        案件の依頼はアーティストページから作成いただけます。
