.search-box

  .search-box__keyword
    .search-box__keyword__title
      = icon('fas', 'fas fa-search')
      キーワードで検索
    .search-box__keyword__form
      = form_with(url: search_matters_path, local: true, method: :get, class: "search-form") do |f|
        = f.text_field :search_word, autocomplete: "content", placeholder: "キーワードを入力してください" ,class: 'search-input'
        %br
        = f.submit "検索" ,class: 'submit-button'

  .search-box__category
    .search-box__category__title
      = icon('fas', 'fas fa-search')
      案件カテゴリで検索
    .search-box__category__form
      = form_with(url: category_search_matters_path, local: true, method: :get, class: "search-form") do |f|
        = f.collection_select :matter_category_id, MatterCategory.all, :id, :name, prompt: "カテゴリを選択してください" ,class: 'search-input'
        %br
        = f.submit "検索" ,class: 'submit-button'
