検索結果
.breadcrumb
  - breadcrumb :category_search_matters
  = breadcrumbs separator: " &rsaquo; "
%br
= @matter_category_searchs.count
件がヒットしました。
%br

%div
  ■キーワードで検索
  = form_with(url: search_matters_path, local: true, method: :get, class: "search-form") do |f|
    = f.text_field :search_word, autocomplete: "content", placeholder: "案件を検索する" ,class: 'search-input'
    = f.submit "検索"
%div
  ■案件カテゴリで検索
  = form_with(url: category_search_matters_path, local: true, method: :get, class: "search-form") do |f|
    = f.collection_select :matter_category_id, MatterCategory.all, :id, :name, prompt: "カテゴリを選択してください"
    = f.submit "検索"
%br

%ul.matters-list
  - @matter_category_searchs.each do |matter|
    %li.matters-list__content
      .matters-list__content__title
        = link_to "案件名：#{matter.title}", "/matters/#{matter.id}", method: :get
      .matters-list__content__category
        案件カテゴリ：
        = matter.matter_category.name
      .matters-list__content__reward
        = matter.reward
        円
      .matters-list__content__deadline
        応募締切日：
        = matter.deadline
      - if matter.start.present?
        .matters-list__content__start
          業務開始予定日：
          = matter.start
      .matters-list__content__end
        業務終了予定日(希望納期)：
        = matter.end
      .matters-list__content__musician-name
        案件依頼アーティスト：
        = link_to "#{matter.musician.name}", "/musicians/#{matter.musician.id}", target: blank?

    %br
