.top-page

  = render 'header'

  .top-page__search
    = render 'search'


  .top-page__matters-list
    %ul
      - @accepting_matters.each do |matter|
        %li.top-page__matters-list__content
          .top-page__matters-list__content__upper
            .top-page__matters-list__content__upper__title
              = link_to "#{matter.title}", "/matters/#{matter.id}", method: :get, target: blank?
            .top-page__matters-list__content__upper__category
              = matter.matter_category.name
            .top-page__matters-list__content__upper__reward
              お支払い金額：
              = matter.reward
              円
            .top-page__matters-list__content__upper__deadline
              応募締切日：
              = matter.deadline
            .top-page__matters-list__content__upper__prefecture
              勤務地域(都道府県)：
              = matter.prefecture

          .top-page__matters-list__content__lower
            - if matter.start.present?
              .top-page__matters-list__content__lower__start
                業務開始予定日：
                = matter.start
            .top-page__matters-list__content__lower__end
              業務終了予定日(希望納期)：
              = matter.end
            .top-page__matters-list__content__lower__musician-name
              案件依頼アーティスト：
              = link_to "#{matter.musician.name}", "/musicians/#{matter.musician.id}", target: blank?
        %br

    .top-page__matters-list__paginate
      = paginate @matters

  = render 'footer'