%h1
  music-worksのTOPページです。
%div
  - if user_signed_in?
    %div
      こんにちは
      = current_user.name
      様
      %br
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: ''
      %br
      - if @musician_user_id.present?
        = link_to "アーティストページへ", "/musicians/#{current_user.musician.id}", method: :get
        %br
      - else
        = link_to "アーティストプロフィールを作成する", new_musician_path
        %br
      -# = link_to "案件依頼を作成する", new_matter_path
  - else
    %ul
      %li
        = link_to "新規会員登録", '/users/sign_up'
      %li
        = link_to "ログイン", '/users/sign_in'

%br
%br
%ul.matters-list
  - @matters.each do |matter|
    %li.matters-list__content
      .matters-list__content__title
        = link_to "案件名：#{matter.title}", "/matters/#{matter.id}", method: :get
      .matters-list__content__reward
        = matter.reward
        円
      .matters-list__content__deadline
        応募締切日：
        = matter.deadline
      - if matter.start.present?
        .matters-list__content__start
          業務開始予定日：
          = matter.start
      .matters-list__content__end
        業務終了予定日(希望納期)：
        = matter.end
      .show
        -# = link_to "詳細を確認する", "/matters/#{matter.id}", method: :get
    %br

