案件詳細ページです。
%br
- if user_signed_in? and @musician_user_id.present?
  - if current_user.musician.id == @matter.musician_id
    = link_to "案件依頼内容を編集する", "/matters/#{@matter.id}/edit"
    %br


- if user_signed_in?
  - if current_user.already_liked?(@matter)
    = link_to "この仕事のブックマークを取り消す", "/matters/#{@matter.id}/likes/#{@matter.id}", method: :delete
    %br
  - else
    - if @musician_user_id.present? and current_user.musician.id == @matter.musician_id
      ※案件依頼ユーザーのためブックマークはできません。
      %br
    - else
      = link_to "この仕事をブックマークする", "/matters/#{@matter.id}/likes", method: :post
      %br


■案件依頼アーティスト：
= link_to "#{@matter.musician.name}", "/musicians/#{@matter.musician.id}", target: blank?
%br

■案件名：
= @matter.title
%br

■案件カテゴリ：
= @matter.matter_category.name
%br

■お支払い金額：
= @matter.reward
円
%br

■応募受付終了日：
= @matter.deadline
%br

■業務開始予定日：
- if @matter.start.present?
  = @matter.start
- else
  指定はありません。
%br

■業務開始終了日(希望納期)：
= @matter.end
%br

■業務内容：
%br
= safe_join(@matter.content.split("\n"),tag(:br))
%br

■お支払い方法：
- if @matter.payment.present?
  = @matter.payment
- else
  指定はありません。
%br

■補足情報：
%br
- if @matter.supplement.present?
  = safe_join(@matter.supplement.split("\n"),tag(:br))
- else
  指定はありません。

%br
- if user_signed_in?
  - if @chat_user_id.present?
    ※既にチャットルームが存在します。
    %br
    = link_to "チャット質問ページへ", "/matters/#{@matter.id}/chats/#{@chat.id}/messages", method: :get
    %br
  - elsif @musician_user_id.present? and current_user.musician.id == @matter.musician_id
    ※案件依頼ユーザーのためチャット質問はできません。
    %br
  - else
    = link_to "案件内容をチャットで質問する", "/matters/#{@matter.id}/chats", method: :post
    %br

  - if @matter.deadline > @deadline
    - if current_user.already_applied?(@matter)
      ※この案件は既に応募済みです。
      %br
      = link_to "応募を取り消す", "/matters/#{@matter.id}/applications/#{@matter.id}", method: :delete
      %br
    - else
      - if @musician_user_id.present? and current_user.musician.id == @matter.musician_id
        ※案件依頼ユーザーのため応募できません。
        %br
      - else
        = link_to "この仕事に応募する", "/matters/#{@matter.id}/applications", method: :post
        %br
  - else
    ※この案件は受付を締め切りました。
    %br

- else
  ※お仕事のご応募には、会員登録が必要です。
  %br
  = link_to "新規会員登録はこちら", '/users/sign_up'
  %br
= link_to "TOPページへ戻る", root_path
