会員マイページ
.breadcrumb
  - breadcrumb :mypage
  = breadcrumbs separator: " &rsaquo; "
  %br
= link_to "会員情報編集ページへ", "/edit_user"
%br
= link_to "ブックマークした案件の一覧ページへ", "/likes"
%br
= link_to "応募した案件の一覧ページへ", "/applications_lists"
%br
= link_to "質問を送ったチャットの一覧ページへ", "/user_chatslists"
- if @unread_messages.present?
  ※未読のメッセージがあります。
%br
%br


.name
  .name__title
    ■ お名前(全角)
  .name__content
    = @user.name
%br


.name_kana
  .name_kana__title
    ■ お名前カナ(全角)
  .name_kana__content
    = @user.name_kana
%br

.email
  .email__title
    ■ メールアドレス
  .email__content
    = @user.email
%br


.tel
  .tel__title
    ■ 携帯電話の番号
  .tel__content
    = @user.tel
%br


.birthday
  .birthday__title
    ■ 生年月日
  .birthday__content
    = @user.birthday
%br


.status
  .status__title
    ■ 会員情報の公開設定
  .status__content
    = @user.status
%br




.prefecture
  .prefecture__title
    ■ 都道府県
  .prefecture__content
    = @user.prefecture
%br


.introduction
  .introduction__title
    ■ 自己紹介
  .introduction__content
    - if @user.introduction.present?
      = safe_join(@user.introduction.split("\n"),tag(:br))
    - else
      登録されていません。
%br


.performance
  .performance__title
    ■ 活動実績
  .performance__content
    - if @user.performance.present?
      = safe_join(@user.performance.split("\n"),tag(:br))
    - else
      登録されていません。
%br


.portfolio
  .portfolio__title
    ■ ポートフォリオなどの参考URL
  .portfolio__content
    - if @user.portfolio.present?
      %a{ href: "#{@user.portfolio}", target: "_blank"} #{@user.portfolio}
    - else
      登録されていません。
%br
