応募した案件の一覧
%br
%br

%ul.applications-list
  - @applications.each do |application|
    %li.applications-list__content
      .applications-list__content__title
        = link_to "案件名：#{application.matter.title}", "/matters/#{application.matter.id}", method: :get
        %br
        案件カテゴリ：
        = application.matter.matter_category.name
        %br
        依頼アーティスト：
        = link_to "#{application.matter.musician.name}", "/musicians/#{application.matter.musician.id}", target: blank?
        %br
        応募締切日：
        = application.matter.end
        %br
        %br



- if @applications.blank?
  ※まだ応募した案件はありません。

%br
%br
= link_to "TOPページへ戻る", root_path
