アーティスト用チャット一覧ページ
%br
%br

%ul.artist-chatlist
  - @chat_lists.each do |chat_list|
    %li.artist-chatlist__content
      .artist-chatlist__content__title
        = link_to "案件名：#{chat_list.matter.title}", "/matters/#{chat_list.matter.id}/chats/#{chat_list.id}/messages", method: :get
        %br
        ユーザー名：
        = chat_list.user.name
        %br
        最新の投稿：
        - @last_messages.each do |last_message|
          - if last_message.chat_id == chat_list.id
            = last_message.content
        %br
        %br


- if @chat_lists.blank?
  ※チャット質問は、まだ投稿されておりません。

%br
%br
= link_to "TOPページへ戻る", root_path