.new-regist-done
  .new-regist-done__header
    .new-regist-done__header__logo
      = link_to root_path do
        = image_tag "mw_logo.png", alt: "Music Works logo", class: 'mw-logo'

  .new-regist-done__breadcrumb
    .new-regist-done__breadcrumb__step1
      ① 会員情報入力

    .new-regist-done__breadcrumb__step2
      ② 活動実績入力

    .new-regist-done__breadcrumb__done
      ③ 登録完了

  %h2 会員登録が完了しました！


  = link_to root_path do
    .new-regist-done__top-link
      TOPページへ移動する

  .new-regist-done__annotation
    お仕事のご依頼には、アーティストプロフィールの作成が必要です。
    %br
    案件依頼の作成をご希望の方は、「アーティストプロフィール作成」のボタンをクリックしてください。

  = link_to new_musician_path do
    .new-regist-done__create-artist-profile
      アーティストプロフィール作成

  .new-regist-done__footer
    = render 'matters/footer'